body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
    background-color: #F4EEE8;
    height: 90vh;
}

.section1 .mainhead{
    position: absolute;
    top: 25%;
    left: 40%;
}

.section1 .brandline{
    position: absolute;
    top: 48%;
    left: 28%;
    font-size: 20px;
    font-weight: 500;
}

.section1 ul{
    position: absolute;
    top: 60%;
    left: 30%;
    font-size: 20px;
}

.section1 ul li {
    font-size: 15px;
    font-weight: 400;
}


.section2{
    margin-top: -5vh;
    background-color: #F4EEE8;
    height: 100vh;
}

.section2 .header2{
    text-align: center;   
    margin-bottom: 100px;
    font-size: 45px;
    letter-spacing: 0.8px;
}

.section3{
    margin-top: -8.5vh;
    background-color: #F4EEE8;
    height: 100vh;
}

.section3 h1{
    text-align: center;   
    padding-top: 100px;
    margin-bottom: 60px;
    font-size: 45px;
    letter-spacing: 0.8px;
}

.section3 .data{
    position: relative;
    top: 20px;
}

.section4{
    margin-top: -8.5vh;
    background-color: #F4EEE8;
    height: 30vh;
}
